// Niri configuration
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

include "conf/input.kdl"
include "conf/outputs.kdl"
include "conf/keybinds.kdl"
include "conf/appearance.kdl"
include "conf/rules.kdl"

// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
}

// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "1password --silent"
//spawn-at-startup "snixembed --fork"

// ────────────────── Miscellaneous ─────────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

