@import '../../../.cache/matugen/colors.css';

@define-color icon_color #FFFFFF;
@define-color border_color @secondary;
@define-color background @surface;

/* --- Global Styles --- */
* {
  font-family: 'Cantarell', 'Symbols Nerd Font';
  font-size: 14px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  margin: 0px;
  font-weight: 700;
  border: none;
}

.modules-left {
    margin:2px 0px 2px 8px;
}

.modules-right {
    margin:2px 8px 2px 0px;
}

.modules-center {
    margin:2px 0px 2px 0px;
}

#tray,
#workspaces,
#taskbar,
#bluetooth,
#network,
#pulseaudio,
#pulseaudio-slider,
#custom-power,
#clock,
#custom-notification {
  background-color: @background;
  color: @on_surface;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#tray:hover,
#workspaces:hover,
#taskbar:hover,
#bluetooth:hover,
#network:hover,
#group-volume:hover,
#custom-power:hover,
#clock:hover,
#custom-notification:hover {
  color: @on_surface;
  background: @primary_container;
  border-color: @primary;
}

#pulseaudio {
  transition: border-radius 0s ease-in-out;
  transition-delay: 450ms;
}

#pulseaudio:hover,
#pulseaudio-slider:hover + #pulseaudio {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-delay: 0ms;
}

#bluetooth,
#network,
#custom-power {
  border-radius: 0;
}

#bluetooth {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#custom-power {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* --- Left Module Spacing --- */
#custom-appmenu,
#workspaces,
#taskbar,
#custom-music {
  margin-left: 5px;
}

/* --- Right Module Spacing --- */
#tray,
#pulseaudio,
#custom-power,
#clock,
#custom-notification {
  margin-right: 5px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
  padding: 2px;
  margin-left: 10px;
  margin-right: 5px;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  color: @on_surface;
  background-color: @background;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: @on_primary;
  background: @primary;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  border-color: @primary;
  min-width: 30px;
}

#workspaces button:hover {
  color: @on_surface;
  background: @primary_container;
  border-radius: 12px;
  border-color: @primary;
  box-shadow: none;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

 tooltip {
    border-radius: 10px;
    background-color: @surface;
    border: 2px solid @border_color;
    padding: 5px;
    margin: 0px;
}

tooltip label {
    color: @on_surface;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

 #window {
    margin: 3px 15px 3px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 10px;
    color: @icon_color;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 2px 2px @background;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */
#taskbar {
  padding: 2px;
}

#taskbar.empty {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 0px;
  border-radius: 0px;
  border-color: transparent;
  border: none;
  background-color: transparent;
}

#taskbar button {
  margin-right: 3px;
  padding: 0 0.3rem;
}

#taskbar button.minimized {
  padding: 0 0.6rem;
  border-radius: 12px;
  color: @on_surface;
  background-color: @background;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#taskbar button.urgent {
  padding: 0 0.6rem;
  border-radius: 12px;
  color: @on_secondary;
  background-color: @secondary;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#taskbar button.active {
  padding: 0 0.6rem;
  border-radius: 12px;
  color: @on_primary;
  background: @primary;
  transition: all 0.2s ease-in-out;
  border-color: @primary;
}

#taskbar button:hover {
  border-radius: 12px;
  color: @on_surface;
  background: @primary_container;
  border-color: @primary;
  box-shadow: none;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-appmenu {
  font-size: 18px;
  color: @icon_color;
}

#custom-music {
  color: @icon_color;
  margin-left: 15px;
  text-shadow: 0 2px 2px @background;
}

#clock,
#pulseaudio,
#pulseaudio-slider,
#bluetooth,
#network,
#custom-power {
  background-color: @background;
  color: @on_surface;
}

#network.disconnected {
  color: #e78284;
}

#bluetooth {
  color: #888888;
  font-size: 16px;
}
#bluetooth.on {
  color: @on_surface;
}
#bluetooth.connected {
  color: #2196f3;
}

#pulseaudio-slider {
  margin-right: -7px;
}

#pulseaudio-slider slider {
  background: @on_surface;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: @primary;
}


/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
