[Unit]
Description=polkit-agent (MATE)
After=graphical-session.target

[Service]
ExecStart=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=niri.service

